@model IEnumerable<Employee.Domain.Models.Employees>
@{
    ViewData["Title"] = "Employee Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="d-flex justify-content-end mb-2">
    <form asp-action="DownloadCsv" method="post" class="d-inline">
        <button type="submit" class="btn-sm btn-success border-0">Export</button>
    </form>
</div> *@

<p>@ViewBag.UserName</p>
<p>@ViewBag.UserNames</p>
<div class="d-flex flex-wrap justify-content-between align-items-center mb-3 px-3 gap-2">
    <h2 class="mb-0 flex-grow-1">Employees</h2>

    <form asp-action="Index" method="get" class="d-flex flex-wrap align-items-center gap-2" autocomplete="off">
        <input type="text" id="NameFilter" name="Name" class="form-control form-control-sm" placeholder="Search by Name" style="width: 150px;" value="@ViewBag.Name" />
        <input type="text" id="PhoneFilter" name="Phone" class="form-control form-control-sm" placeholder="Search by Phone" style="width: 150px;" value="@ViewBag.Phone" />
        @Html.DropDownList("DepartmentId", ViewBag.DepartmentId as SelectList, "All Departments", new { @class = "form-select form-select-sm", style = "width: 150px;" })
        <button type="button" id="SearchFilter" class="btn btn-sm btn-primary">Fetch</button>
    </form>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm mt-2 mt-md-0">Create New</a>
</div>



<div id="EmployeeTable">
    @await Html.PartialAsync("Partials/_EmployeesTableView", Model)
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
